@use "../util" as *;

.m-nav {
  position: absolute;
  top: 7rem;
  right: 50%;
  transform: translate(50%, -1rem);
  width: calc(100% - 3rem);
  background-color: var(--white);
  padding: 2.5rem 0;

  pointer-events: none;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &--active {
    transform: translate(50%, 0rem);
    pointer-events: initial;
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    right: 0;
    border: 0.75rem solid var(--white);
    border-top-color: transparent;
    border-left-color: transparent;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    &:not(:first-child, :last-child) {
      margin-top: 2.5rem;
    }

    &:last-child {
      margin-top: 2rem;
    }
  }

  &__link {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-family: $barlow;
    font-size: 1.25rem;
    text-align: center;
    color: var(--dark-grayish-blue);

    &--contact {
      padding: 1.25rem 1.875rem;
      background-color: var(--yellow);
      color: var(--very-dark-desaturated-blue);
      font-family: $fraunces;
      font-size: 0.9475rem;
      border-radius: 3.75rem;
    }
  }
}
